.navBar {
    background-color: #333;
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 10px;
    align-items: center; /* verticle centering*/
    font-family: Arial, sans-serif;
    border-bottom: 3px solid #444;
}

.navBar .main,
.navBar .stats {
    padding: 5px 10px;
}

.navBar a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 20pt;
    padding: 8px 16px;
    display: inline-block;
    background-color: #333;
    border-radius: 3px;
    transition: background-color 0.3s ease;
}

.navBar a:hover {
    background-color: #555;
}

.main-title {
  text-align: center;
}

.logo {
  height: 50px;

}
.stats-title {
  text-align: center;
}

.title {
  font-size: 30px;
  color:aliceblue;
}